---

- name: "delete grafana cluster monitoring clusterrole binding"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrolebinding
    name: "grafana-cluster-monitoring-view{{ namespace_postfix }}"

- name: "delete application monitoring cr"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: ApplicationMonitoring
    name: "middleware-monitoring{{ namespace_postfix }}"
    namespace: "{{ namespace }}"

- name: "delete application monitoring operator"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: deployment
    name: application-monitoring-operator
    namespace: "{{ namespace }}"

- name: "delete application monitoring operator rolebinding"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: rolebinding
    name: application-monitoring-operator
    namespace: "{{ namespace }}"

- name: "delete application monitoring operator role"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: role
    name: application-monitoring-operator
    namespace: "{{ namespace }}"

- name: "delete application monitoring operator service account"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: serviceaccount
    name: application-monitoring-operator
    namespace: "{{ namespace }}"

- name: "create ApplicationMonitoring crd"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: crd
    name: applicationmonitorings.applicationmonitoring.integreatly.org
  when: uninstall_cluster_resources|bool == true

- name: "delete BlackboxTarget crd"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: crd
    name: blackboxtargets.applicationmonitoring.integreatly.org
  when: uninstall_cluster_resources|bool == true

- name: "delete AlertManager clusterrole binding"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrolebinding
    name: "alertmanager-application-monitoring{{ namespace_postfix }}"
    namespace: "{{ namespace }}"

- name: "delete Alertmanager clusterrole"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrole
    name: alertmanager-application-monitoring
  when: uninstall_cluster_resources|bool == true

- name: "delete Prometheus operator clusterrole binding"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrolebinding
    name: "prometheus-application-monitoring-operator{{ namespace_postfix }}"
    namespace: "{{ namespace }}"

- name: "delete Prometheus operator clusterrole"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrole
    name: prometheus-application-monitoring-operator
  when: uninstall_cluster_resources|bool == true

- name: "delete Prometheus clusterrole binding"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrolebinding
    name: "prometheus-application-monitoring{{ namespace_postfix }}"
    namespace: "{{ namespace }}"

- name: "delete Prometheus clusterrole"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrole
    name: prometheus-application-monitoring
  when: uninstall_cluster_resources|bool == true

- name: "delete Grafana proxy clusterrole binding"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrolebinding
    name: "grafana-proxy{{ namespace_postfix }}"
    namespace: "{{ namespace }}"

- name: "delete Grafana proxy clusterrole"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrole
    name: grafana-proxy
  when: uninstall_cluster_resources|bool == true

- name: "delete Grafana clusterrole binding"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrolebinding
    name: grafana-operator
    namespace: "{{ namespace }}"

- name: "delete Grafana clusterrole"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: clusterrole
    name: grafana-operator
  when: uninstall_cluster_resources|bool == true

- name: "delete Grafana datasource crd"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: crd
    name: grafanadatasources.integreatly.org
  when: uninstall_cluster_resources|bool == true

- name: "delete Grafana dashboard crd"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: crd
    name: grafanadashboards.integreatly.org
  when: uninstall_cluster_resources|bool == true

- name: "delete Grafana crd"
  oc_obj:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    kind: crd
    name: grafanas.integreatly.org
  when: uninstall_cluster_resources|bool == true

- name: "delete clusterrole for get namespaces"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: get-namespaces
    kind: clusterrole
  when: uninstall_cluster_resources|bool == true

- name: delete project
  oc_project:
    oc_binary: "{{ openshift_cli }}"
    state: absent
    name: "{{ namespace }}"
  when: uninstall_delete_project|bool == true
