apiVersion: keycloak.org/v1alpha1
kind: Keycloak
metadata:
  name: rhsso
  labels:
    app: rhsso
spec:
  instances: 1
  extensions:
    - https://github.com/aerogear/keycloak-metrics-spi/releases/download/1.0.4/keycloak-metrics-spi-1.0.4.jar
    - {{ emergency_response_theme_extension }}
  externalAccess:
    enabled: False
  profile: RHSSO