---

application_name: "{{ find_application_name }}"
cm_name: find-service
application_properties: application.properties
application_properties_resource: "{{ resources_dir }}/{{ application_properties }}"

application_image: openjdk-11-rhel8:1.0
application_image_namespace: openshift

buildconfig_name: "{{ application_name }}-binary"
buildconfig_template: binary-buildconfig.yml

pipeline_buildconfig_name: "{{ application_name }}-pipeline"
pipeline_buildconfig_template: pipeline.yml

source_imagestream_name: "{{ application_name }}"
source_imagestream_template: source-imagestream.yml

binary_imagestream_template: imagestream.yml
application_template: service.yml

knative_application_template: kservice.yml
