[all:vars]
# MapBox API token, see https://docs.mapbox.com/help/how-mapbox-works/access-tokens/
map_token=replaceme

# valid choices: image, source
deploy_from=image

# If set to True, then every user that creates an account in Emergency Response demo will automatically be a "realm-admin"
set_realm_admin_as_default=false

# If set to true, installs the monitoring stack
install_monitoring=true

# If set to true, installs the tools (pgadmin)
install_tools=true

# SSO theme extension
emergency_response_theme_extension=https://github.com/Emergency-Response-Demo/emergency-sso/releases/download/v1.0.0/emergency-sso-theme-1.0.0.jar

# images
incident_service_image=quay.io/emergencyresponsedemo/incident-service
incident_service_image_tag=2.4

responder_service_image=quay.io/emergencyresponsedemo/responder-service
responder_service_image_tag=2.4

process_viewer_image=quay.io/emergencyresponsedemo/process-viewer
process_viewer_image_tag=2.4

incident_priority_service_image=quay.io/emergencyresponsedemo/incident-priority-service
incident_priority_service_image_tag=2.4

process_service_image=quay.io/emergencyresponsedemo/process-service
process_service_image_tag=2.4

disaster_simulator_service_image=quay.io/emergencyresponsedemo/disaster-simulator
disaster_simulator_service_image_tag=2.4

mission_service_image=quay.io/emergencyresponsedemo/mission-service
mission_service_image_tag=2.4

responder_simulator_image=quay.io/emergencyresponsedemo/responder-simulator
responder_simulator_image_tag=2.4

emergency_console_image=quay.io/emergencyresponsedemo/emergency-console
emergency_console_image_tag=2.4

responder_client_app_image=quay.io/emergencyresponsedemo/emergency-response-client-app
responder_client_app_image_tag=2.4

disaster_service_image=quay.io/emergencyresponsedemo/disaster-service
disaster_service_image_tag=2.4

datawarehouse_service_image=quay.io/emergencyresponsedemo/datawarehouse
datawarehouse_service_image_tag=2.4

# source repos
incident_service_git_repo=https://github.com/Emergency-Response-Demo/incident-service.git
incident_service_git_branch=master

responder_simulator_service_git_repo=https://github.com/Emergency-Response-Demo/responder-simulator.git
responder_simulator_service_git_branch=master

responder_service_git_repo=https://github.com/Emergency-Response-Demo/responder-service.git
responder_service_git_branch=master

incident_process_git_repo=https://github.com/Emergency-Response-Demo/incident-process-kjar.git
incident_process_git_branch=master

assignment_rules_git_repo=https://github.com/Emergency-Response-Demo/cajun-navy-rules.git
assignment_rules_git_branch=master

assignment_rules_model_git_repo=https://github.com/Emergency-Response-Demo/cajun-navy-rules-model.git
assignment_rules_model_git_branch=master

process_service_git_repo=https://github.com/Emergency-Response-Demo/process-service.git
process_service_git_branch=master

mission_service_git_repo=https://github.com/Emergency-Response-Demo/mission-service.git
mission_service_git_branch=master

emergency_console_git_repo=https://github.com/Emergency-Response-Demo/emergency-console.git
emergency_console_git_branch=master

process_viewer_git_repo=https://github.com/Emergency-Response-Demo/process-viewer.git
process_viewer_git_branch=master

incident_priority_service_git_repo=https://github.com/Emergency-Response-Demo/incident-priority-service.git
incident_priority_service_git_branch=master

disaster_simulator_service_git_repo=https://github.com/Emergency-Response-Demo/disaster-simulator.git
disaster_simulator_service_git_branch=master

responder_client_app_git_repo=https://github.com/Emergency-Response-Demo/mobile-app.git
responder_client_app_git_branch=master

disaster_service_git_repo=https://github.com/Emergency-Response-Demo/disaster-service.git
disaster_service_git_branch=master

datawarehouse_service_git_repo=https://github.com/Emergency-Response-Demo/datawarehouse.git
datawarehouse_service_git_branch=master
