[all:vars]
# MapBox API token, see https://docs.mapbox.com/help/how-mapbox-works/access-tokens/
map_token=pk.eyJ1IjoiYXZhbGVycyIsImEiOiJja21ncG5xMGQwOXptMnZwd2xuYWtjajMxIn0.mTyHMLfNysy3fq0EkSr3QA

# If set to True, then every user that creates an account in Emergency Response demo will automatically be a "realm-admin"
set_realm_admin_as_default=false

# If set to true, installs the monitoring stack
install_monitoring=true

# If set to true, installs the tools (pgadmin)
install_tools=true

# SSO theme extension
emergency_response_theme_extension=https://github.com/Emergency-Response-Demo/emergency-sso/releases/download/v1.1.0/emergency-sso-theme-1.1.0.jar

# images
incident_service_image=quay.io/btison/erdemo-incident-service-quarkus
incident_service_image_tag=6bd25b3

responder_service_image=quay.io/btison/erdemo-responder-service-quarkus
responder_service_image_tag=90d9467

process_viewer_image=quay.io/emergencyresponsedemo/process-viewer
process_viewer_image_tag=2.7

incident_priority_service_image=quay.io/emergencyresponsedemo/incident-priority-service
incident_priority_service_image_tag=2.7

process_service_image=quay.io/emergencyresponsedemo/process-service
process_service_image_tag=2.4

disaster_simulator_service_image=quay.io/emergencyresponsedemo/disaster-simulator
disaster_simulator_service_image_tag=f1dbe66

mission_service_image=quay.io/btison/erdemo-mission-service-quarkus
mission_service_image_tag=1c4e22b

responder_simulator_image=quay.io/btison/erdemo-responder-simulator-quarkus
responder_simulator_image_tag=79fdf95

emergency_console_image=quay.io/emergencyresponsedemo/emergency-console
emergency_console_image_tag=4202a31

disaster_service_image=quay.io/emergencyresponsedemo/disaster-service
disaster_service_image_tag=2.7

datawarehouse_service_image=quay.io/emergencyresponsedemo/datawarehouse
datawarehouse_service_image_tag=2.7

kafka_consumer_app_image=quay.io/btison/kafka-consumer-app
kafka_consumer_app_tag=latest

kafka_producer_app_image=quay.io/btison/kafka-producer-app
kafka_producer_app_tag=latest

incident_aggregation_service_image=quay.io/btison/erdemo-incident-aggregation-service
incident_aggregation_service_image_tag=latest

incident_finder_service_image=quay.io/btison/erdemo-incident-finder-service
incident_finder_service_image_tag=latest

kafka_connect_image=quay.io/emergencyresponsedemo/strimzi-debezium-postgresql:1.6.0-1.3.1.Final
