[all:vars]
# MapBox API token, see https://docs.mapbox.com/help/how-mapbox-works/access-tokens/
map_token=replaceme

# Non-admin user with project admin permissions for the Emergency Response projects
cluster_provisioner=developer

# valid choices: image, source
deploy_from=image

# images
incident_service_image=quay.io/emergencyresponsedemo/incident-service
incident_service_image_tag=ba3e9bca3

responder_service_image=quay.io/emergencyresponsedemo/responder-service
responder_service_image_tag=4ca7b4bab

process_viewer_image=quay.io/emergencyresponsedemo/process-viewer
process_viewer_image_tag=8eac584e7

incident_priority_service_image=quay.io/emergencyresponsedemo/incident-priority-service
incident_priority_service_image_tag=1f5b136f5

process_service_image=quay.io/emergencyresponsedemo/process-service
process_service_image_tag=cbfad8cf2

disaster_simulator_service_image=quay.io/emergencyresponsedemo/disaster-simulator
disaster_simulator_service_image_tag=c6818a7a8

mission_service_image=quay.io/emergencyresponsedemo/mission-service
mission_service_image_tag=803e6420f

responder_simulator_image=quay.io/emergencyresponsedemo/responder-simulator
responder_simulator_image_tag=66105af21

emergency_console_image=quay.io/emergencyresponsedemo/emergency-console
emergency_console_image_tag=1fa91c80b

responder_client_app_image=quay.io/emergencyresponsedemo/emergency-response-client-app
responder_client_app_image_tag=f2394c06c

# source repos
incident_service_git_repo=https://github.com/Emergency-Response-Demo/incident-service.git
incident_service_git_branch=master

responder_simulator_service_git_repo=https://github.com/Emergency-Response-Demo/responder-simulator.git
responder_simulator_service_git_branch=master

responder_service_git_repo=https://github.com/Emergency-Response-Demo/responder-service.git
responder_service_git_branch=master

incident_process_git_repo=https://github.com/Emergency-Response-Demo/incident-process-kjar.git
incident_process_git_branch=master

assignment_rules_git_repo=https://github.com/Emergency-Response-Demo/cajun-navy-rules.git
assignment_rules_git_branch=master

assignment_rules_model_git_repo=https://github.com/Emergency-Response-Demo/cajun-navy-rules-model.git
assignment_rules_model_git_branch=master

process_service_git_repo=https://github.com/Emergency-Response-Demo/process-service.git
process_service_git_branch=master

mission_service_git_repo=https://github.com/Emergency-Response-Demo/mission-service.git
mission_service_git_branch=master

emergency_console_git_repo=https://github.com/Emergency-Response-Demo/emergency-console.git
emergency_console_git_branch=master

process_viewer_git_repo=https://github.com/Emergency-Response-Demo/process-viewer.git
process_viewer_git_branch=master

incident_priority_service_git_repo=https://github.com/Emergency-Response-Demo/incident-priority-service.git
incident_priority_service_git_branch=master

disaster_simulator_service_git_repo=https://github.com/Emergency-Response-Demo/disaster-simulator.git
disaster_simulator_service_git_branch=master

responder_client_app_git_repo=https://github.com/Emergency-Response-Demo/mobile-app.git
responder_client_app_git_branch=master