---

- name: "update namespace with monitoring label"
  oc_label:
    oc_binary: "{{ openshift_cli }}"
    state: present
    kind: namespace
    name: "{{ namespace }}"
    labels:
      - key: monitoring-key
        value: "{{ application_monitoring_label_value }}"

- name: "copy Kafka servicemonitor template"
  template:
    src: "{{ resources_dir }}/{{ monitoring_kafka_servicemonitor_template }}"
    dest: "{{ work_dir }}/{{ monitoring_kafka_servicemonitor_template }}"

- name: "copy application servicemonitor template"
  template:
    src: "{{ resources_dir }}/{{ monitoring_application_servicemonitor_template }}"
    dest: "{{ work_dir }}/{{ monitoring_application_servicemonitor_template }}"

- name: "copy actuator endpoint servicemonitor template"
  template:
    src: "{{ resources_dir }}/{{ monitoring_actuator_servicemonitor_template }}"
    dest: "{{ work_dir }}/{{ monitoring_actuator_servicemonitor_template }}"

- name: "copy application grafana dashboard template"
  template:
    src: "{{ resources_dir }}/{{ monitoring_grafana_dashboard_template }}"
    dest: "{{ work_dir }}/{{ monitoring_grafana_dashboard_template }}"

- name: "copy application grafana datasource template {{ monitoring_dw_postgresql_datasource_template }}"
  template:
    src: "{{ resources_dir }}/{{ monitoring_dw_postgresql_datasource_template }}"
    dest: "{{ work_dir }}/{{ monitoring_dw_postgresql_datasource_template }}"

- name: "copy application grafana dashboard template {{ monitoring_mission_commander_template }}"
  template:
    src: "{{ resources_dir }}/{{ monitoring_mission_commander_template }}"
    dest: "{{ work_dir }}/{{ monitoring_mission_commander_template }}"

- name: "create Kafka servicemonitor resource"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: emergency-response-kafka
    namespace: "{{ namespace }}"
    kind: ServiceMonitor
    files:
      - "{{ work_dir }}/{{ monitoring_kafka_servicemonitor_template }}"

- name: "create application servicemonitor resource"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: emergency-response-services
    namespace: "{{ namespace }}"
    kind: ServiceMonitor
    files:
      - "{{ work_dir }}/{{ monitoring_application_servicemonitor_template }}"

- name: "create actuator servicemonitor resource"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: emergency-response-services-actuator
    namespace: "{{ namespace }}"
    kind: ServiceMonitor
    files:
      - "{{ work_dir }}/{{ monitoring_actuator_servicemonitor_template }}"

- name: "create grafana dashboard emergency-response-dashboard"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: emergency-response-dashboard
    namespace: "{{ namespace_monitoring }}"
    kind: GrafanaDashboard
    files:
      - "{{ work_dir }}/{{ monitoring_grafana_dashboard_template }}"

- name: "create application grafana datasource ds-dw-postgresql"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: ds-dw-postgresql
    namespace: "{{ namespace_monitoring }}"
    kind: GrafanaDataSource
    files:
      - "{{ work_dir }}/{{ monitoring_dw_postgresql_datasource_template }}"

- name: "create application grafana dashboard mission-commander-kpis"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: mission-commander-kpis
    namespace: "{{ namespace_monitoring }}"
    kind: GrafanaDashboard
    files:
      - "{{ work_dir }}/{{ monitoring_mission_commander_template }}"

- name: "give clusterrole get-namespaces privilege to {{ project_admin }}"
  oc_adm_policy_user:
    state: present
    oc_binary: "{{ openshift_cli }}"
    rolebinding_name: "{{ project_admin }}-get-namespaces"
    resource_kind: cluster-role
    resource_name: get-namespaces
    user: "{{ project_admin }}"

- name: "obtain token for grafana serviceaccount"
  shell: |
    {{ openshift_cli }} sa get-token grafana-serviceaccount -n {{ namespace_monitoring }}
  register: grafana_sa_token

- name: "copy openshift monitoring grafana datasource template {{ openshift_monitoring_datasource_template }}"
  template:
    src: "{{ resources_dir }}/{{ openshift_monitoring_datasource_template }}"
    dest: "{{ work_dir }}/{{ openshift_monitoring_datasource_template }}"
  vars:
    token: "{{ grafana_sa_token.stdout }}"

- name: "create openshift monitoring grafana datasource"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: prometheus-openshift-monitoring
    namespace: "{{ namespace_monitoring }}"
    kind: GrafanaDataSource
    files:
      - "{{ work_dir }}/{{ openshift_monitoring_datasource_template }}"

- name: "create incident priority service prometheus rules"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: incident-priority-service-prometheus-rules
    namespace: "{{ namespace_monitoring }}"
    kind: PrometheusRule
    files:
      - "{{ resources_dir }}/{{ incident_priority_prometheus_rules_template }}"

- name: "copy incident service prometheus rules template"
  template:
    src: "{{ resources_dir }}/{{ incident_service_prometheus_rules_template }}"
    dest: "{{ work_dir }}/{{ incident_service_prometheus_rules_template }}"

- name: "create incident service prometheus rules"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: incident-service-prometheus-rules
    namespace: "{{ namespace_monitoring }}"
    kind: PrometheusRule
    files:
      - "{{ work_dir }}/{{ incident_service_prometheus_rules_template }}"

- name: "copy incident priority service grafana dashboard template"
  template:
    src: "{{ resources_dir }}/{{ incident_priority_service_dashboard_template }}"
    dest: "{{ work_dir }}/{{ incident_priority_service_dashboard_template }}"
  vars:
    pod: !unsafe "{{pod}}"
    action: !unsafe "{{action}}"
    cause: !unsafe "{{cause}}"
    topic: !unsafe "{{topic}}"
    code: !unsafe "{{code}}"

- name: "create incident priority service grafana dashboard"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: incident-priority-service-dashboard
    namespace: "{{ namespace_monitoring }}"
    kind: GrafanaDashboard
    files:
      - "{{ work_dir }}/{{ incident_priority_service_dashboard_template }}"

- name: "copy incident service grafana dashboard template"
  template:
    src: "{{ resources_dir }}/{{ incident_service_dashboard_template }}"
    dest: "{{ work_dir }}/{{ incident_service_dashboard_template }}"
  vars:
    pod: !unsafe "{{pod}}"
    action: !unsafe "{{action}}"
    cause: !unsafe "{{cause}}"
    topic: !unsafe "{{topic}}"
    code: !unsafe "{{code}}"
    status: !unsafe "{{status}}"

- name: "create incident service grafana dashboard"
  oc_obj:
    state: present
    oc_binary: "{{ openshift_cli }}"
    name: incident-service-dashboard
    namespace: "{{ namespace_monitoring }}"
    kind: GrafanaDashboard
    files:
      - "{{ work_dir }}/{{ incident_service_dashboard_template }}"