---

application_name: "{{ process_service_application_name }}"

application_configmap: process-service
logging_configmap: process-service-logging

kafka_bootstrap_service: "{{ kafka_cluster }}-kafka-bootstrap.{{ namespace_kafka_cluster }}.svc"
kafka_bootstrap_port: 9092
kafka_bootstrap_address: "{{ kafka_bootstrap_service }}:{{ kafka_bootstrap_port }}"
kafka_groupid: process-service
kafka_consumer_concurrency: 5

kafka_incident_reported_event_topic: topic-incident-event
kafka_create_mission_command_topic: topic-mission-command
kafka_mission_event_topic: topic-mission-event
kafka_update_responder_command_topic: topic-responder-command
kafka_responder_updated_event_topic: topic-responder-event
kafka_update_incident_command_topic: topic-incident-command
kafka_incident_assignment_event_topic: topic-incident-event


process_service_postgresql_template: "{{ resources_dir }}/postgresql-persistent-template.yaml"
process_service_postgresql_init_configmap: "{{ process_service_postgresql_service_name }}-init"
process_service_postgresql_max_connections: 100
process_service_postgresql_max_prepared_transactions: 100

process_service_postgresql_host: "{{ process_service_postgresql_service_name }}"

narayana_dbcp_max_total: 20

quartz_configuration: "/app/config/jbpm-quartz.properties"
quartz_datasource_dbcp_max_total: 20
quartz_clustered: true

logging_style: dev

service_account: process-service

buildconfig_template: process-service-binary-buildconfig.yml
buildconfig_name: "{{ application_name }}-binary"

pipeline_buildconfig_name: "{{ application_name }}-pipeline"
pipeline_buildconfig_template: process-service-pipeline.yml

imagestream_template: process-service-imagestream.yml
imagestream_name: "{{ application_name }}"

application_template: process-service.yml

openjdk_template: openjdk-imagestream.yml
openjdk_imagestream_name: openjdk18-openshift
openjdk_imagestream_tag: 1.6

application_image: openjdk18-openshift:1.6
application_image_namespace: openshift

nexus_url: "http://{{ nexus_service_name }}.{{ namespace_tools }}.svc:8081"
nexus_mirror: "{{ nexus_url }}/content/groups/public"

incident_process_assignment_delay: PT20S

responder_service_scheme: http
responder_service_url: "{{ responder_service_application_name }}.{{ namespace }}.svc:8080"
responder_service_available_responders_path: /responders/available

incident_priority_service_scheme: http
incident_priority_service_url: "{{ incident_priority_service_application_name }}.{{ namespace }}.svc:8080"
incident_priority_service_incident_priority_path: "/priority/{incidentId}"

mission_assignment_rules_groupid: com.redhat.cajun.navy
mission_assignment_rules_artifactid: cajun-navy-rules
mission_assignment_rules_version: "0.0.1"
mission_assignment_rules_scannerinterval: "600000"

prometheus_endpoint_path: "/actuator/prometheus"
prometheus_endpoint_port: 8080
