---

- name: "delete infinispan route"
  oc_obj:
    state: absent
    oc_binary: "{{ openshift_cli }}"
    name: "{{ datagrid_route_name }}"
    namespace: "{{ namespace }}"
    kind: route


- name: "delete infinispan secret"
  oc_obj:
    state: absent
    oc_binary: "{{ openshift_cli }}"
    name: "{{ datagrid_connect_secret }}"
    namespace: "{{ namespace }}"
    kind: secret  

- name: "delete infinispan"
  oc_obj:
    state: absent
    oc_binary: "{{ openshift_cli }}"
    name: "{{ datagrid_application_name }}"
    namespace: "{{ namespace }}"
    kind: infinispan

- name: "delete subscription {{ datagrid_subscription_name }}"
  oc_obj:
    state: absent
    oc_binary: "{{ openshift_cli }}"
    name: "{{ datagrid_subscription_name }}"
    namespace: "{{ namespace }}"
    kind: subscription

- name: "delete operator group {{ datagrid_operator_package_name }}"
  oc_obj:
    state: absent
    oc_binary: "{{ openshift_cli }}"
    name: "{{ datagrid_operatorgroup_name }}"
    namespace: "{{ namespace }}"
    kind: operatorgroup

#- name: get default channel for datagrid operator
#  shell: |-
#    {{ openshift_cli }} get packagemanifests {{ datagrid_operator_package_name }} -o jsonpath='{.status.defaultChannel}'
#  register: datagrid_defaultchannel

- name: get currentCSV for default channel
  shell: |-
    {{ openshift_cli }} get packagemanifests {{ datagrid_operator_package_name }} -o jsonpath='{.status.channels[?(@.name == "{{ datagrid_defaultchannel }}")].currentCSV}'
  register: datagrid_currentCSV

- name: "delete datagrid CSV {{ datagrid_currentCSV.stdout }} "
  oc_obj:
    state: absent
    oc_binary: "{{ openshift_cli }}"
    name: "{{ datagrid_currentCSV.stdout }}"
    namespace: "{{ namespace }}"
    kind: csv
